@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

body {
  font-family: 'Ubuntu', sans-serif;

  background:url(../images/body_bg.jpg) #1d1d1d;
  position: relative;
  z-index: -1
}


.container  {
  margin: 8px;
  text-align: center;
  width: 95%;
}


#content-scroll {
  width: 100% !important;
}

#content-holder{
  width: 95% !important;
  height: auto;
  background:url(../images/middle_bgV.jpg);
  position: relative;
  z-index; -1;
}

.scroll-content-item div {
  padding-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
  width: 90%;
  color: grey;
  float: none;
  margin-left: 15px;
}

.item-date p{
  margin-top: 15px;
}


.scroll-item-name p a {
  text-decoration: none;
  margin-bottom: 10px;
  transition: all .5s ease-in;
  color:#e0e7ea;
}

 #content-holder p img:hover{
  height: 80px;
  width: 80px;
  padding-bottom: 12px;
  opacity: .7;
  transition: all .2s ease-in;
  transform: scale(2);
  background: radial-gradient(grey, transparent, transparent);

}

 #content-holder p img{
  transition: all .3s ease-in;
  /*margin-top: 8px;*/
  margin-left: 10px;
  height: 38px;  
  width: 38px;  
  
}

.footer-box-c a{
  text-transform: uppercase;
  text-decoration: none;
  color: grey;
}
.footer-box-c a span {
  display: none;
}

.footer {
  padding-top: 25px;
  font-family: 'Ubuntu', sans-serif;
}
.scroll-item-img {
  transition: all .3s ease-in;
  padding:9px;
  height:50%;
  width:50%;
 }

.scroll-item-img:hover{
  transition: all .2s ease-in;
  transform: scale(1.1);
}

.scroll-item-name{
  margin-left: 15px;
}

.filter-arrow.arrowup, .filter-arrow{
  display: none;
}